body{
    background-color: #141413f1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.container-custom{
    position: relative;
    display: block;
    width: 100%;
}
.navbar-custom {
    background-color: rgb(44, 39, 39);
    border: 3px solid #e6acdb;
    color:  #e6acdb !important;
    width: 100%;
    margin-top: 15px;
    font-size: 30px !important;
}
.navbar-custom a{
    color: #e6acdb !important;
}
.navbar-brand{
    font-size: 30px !important;
}
.home-bg-container{
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}
.home-bg{
    height: 100vh;
    width: 100%;
}
.bg-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    background-color: rgb(186, 168, 182, 75%);
    border-radius: 50px;
    width: 50%
}
.fe{
    font-size: 0.5em; 
    color: #dbd3da;
    
}

.about-title{
    /* color: rgba(192, 153, 183, 0.75); */
    margin-top: 3%
}
.headerContainer{
    color: white;
    border-bottom: 2px black;
}
.profile{
    padding: 0.5em;
    float: left;
}
.portrait{
    border-radius: 600px;
    margin: 15px;
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: #e6acdb;
    
}
.link-wrapper{
    display: flex;
    text-align: center;
    display: block;
    margin: auto;
    max-width: 204px
}
.link-wrapper img{
    max-width: 40px;
    max-height: auto;
}
.link-img{
    background-color: #dbd3da;
    max-width: 45px;
    float:left;
    margin: 3px;
    border-radius: 600px;
    border: solid;
    border-color: black;
    overflow: hidden;
}
.link1{
 flex: 1;
}
.link2{
    flex: 1
}
.link3{
    flex: 1
}
.link4{
    flex: 1
}
.wrapper{
    display: flex;
    text-align: center;
    margin: auto;
}
.wrapper img{
    max-height: 100px;
}
.img1{
    flex: 1
}
.img2{
    flex: 1
}
.img3{
    flex: 1
}
.img4{
    flex: 1
}
.about-title{
    margin-top: 10%
}
.intro{
    margin-top: 1%;
    padding-right: 3%;
    /* padding-bottom: 4%; */
    margin-bottom: 2%
}
.intro h2{
    text-align: center;
    color: #e6acdb;
    font-weight: 600;
    padding-top: 5%
}
.intro div{
    font-weight: 200;
    display: block;
    margin: auto;
}
.project-wrapper{
    margin-top: 8%;
    margin-bottom: 5%;
}
.pTitle{
    margin-bottom: 5%;
}
.bodyContainer{
  
    margin-top: 1%;
    /* padding-top: 5% */
}
.bodyContainer h2{
    color: #e6acdb
}
.wrapper{
    padding: 4%
}
.cardWrapper{
    display: block;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.card{
    background-color:rgb(186, 168, 182, 75%);
    margin: 2%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.mar{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.footer{
    width: 100%;
    background-color: black;
    color: #e6acdb;
    text-align: center;
}
@media (max-width: 490px){
    body{
        font-size: 0.7em;
    }
    .bg-text{
        width: 85%;
    }
    .portrait{
        display: block !important;
        margin: auto !important;
        text-align: center;
    }
    .profile{
        display: block !important;
        margin: auto !important;
        text-align: center;
        float: none;
    }
    .intro{
        padding-top: 10%
    }
    .card{
        background-color:rgb(186, 168, 182, 75%);
        margin: 2%;
        margin-bottom: 10px; /* Added */
    }
}